[Unit]
Description=Python Application
After=network.target

[Service]
# Environment=EXAMPLE_ENV=bla
WorkingDirectory=${PWD}
ExecStart=${PWD}/venv/bin/python ${PWD}/${START}
Restart=always

[Install]
WantedBy=multi-user.target

